<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title th:text="#{home.tab_title}">_SB starter app home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/site.css}" href="../static/css/site.css"/>
</head>
<body>
<a th:href="@{/(locale=nl)}" href="/locale=nl">
    <img th:src="@{/images/flag_nl.svg}" class="flag_logo"/>
</a>
<a th:href="@{/(locale=en)}" href="/locale=en">
    <img th:src="@{/images/flag_en.svg}" class="flag_logo"/>
</a>

<img th:src="@{/desktop/spring.png}" alt="good"/>

<p><span th:text="#{home.locale_message(${#locale.language}, ${#locale.toLanguageTag()})}">_Current locale language</span></p>

<!--/*@thymesVar id="userName" type="java"*/-->
<!--<p th:text="'Hi, ' + ${user.username}"/>-->
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<form th:action="@{/login}" method="post">
    <input type="submit" value="Log In"/>
</form>

<p><span th:text="#{home.greeting_link}">_Get your greeting</span>
    <a th:href="@{'/' + ${#locale.language} + '/greeting'}"><span th:text="#{general.here}">_here</span></a>
</p>

<p><span th:text="#{home.form_link}">_Fill in form</span>
    <a th:href="@{'/' + ${#locale.language} + '/submit_form'}"><span th:text="#{general.here}">_here</span></a>
</p>

</body>
</html>